@{
    ViewBag.Title = "Home Page";
}
    @Model
<div class="jumbotron">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="producname"> </h2> 
        <div class="productpicture">
            <img style="height: 75px; width: auto; object-fit: contain" src="Imgpath" alt="ImgName" />
        </div>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2> </h2> 
        <div class="productpicture">
            <img style="height: 75px; width: auto; object-fit: contain" src="Imgpath" alt="ImgName" />
        </div>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>productName </h2>
        <div class="productpicture">
            <img style="height: 75px; width: auto; object-fit: contain" src="Imgpath" alt="ImgName" />
        </div>
        <p></p>
    </div>
</div>
