* {
    margin: auto;
}

/*-Genreal tags-*/



/*-Classes-*/

.bottomBorder {
    border-bottom: solid white 1px;
}

.commonText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
}

.pictureWrapper {
    height: 155px;
    float: left;
    padding-left: 4px;
}

    .pictureWrapper p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        position: relative
    }

.pictureWrapper2 {
    height: 137px;
    float: left;
    padding-left: 4px;
}

    .pictureWrapper2 p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

/*-Wrapper-*/

#wrapper {
    width: 961px
}

/*-top-*/

#top1 {
    width: 961px;
    height: 158px;
    background-image: url(../files/images/top_1.jpg);
}

/*-Middle-*/

/*-Topmenu-*/

#topMenu {
    width: 961px;
    height: 33px;
    background-image: url(../files/images/top_2.jpg);
}

    #topMenu ul {
        position: relative;
        padding-top: 8px;
    }

        #topMenu ul li {
            list-style-type: none;
            display: inline;
            color: orange;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }

            #topMenu ul li a {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                padding-left: 10px;
                padding-right: 10px;
            }

                #topMenu ul li a:hover {
                    color: orange;
                }

/*-Banner-*/

#banner {
    width: 961px;
    height: 216px;
    background-image: url(../files/images/top_3.jpg);
}

/*-Body-*/

#body {
    width: 961px;
    height: 338px;
    background-image: url(../files/images/Main.jpg);
}

/*-Body2-*/

#body2 {
    width: 961px;
    height: 525px;
    background-image: url(../files/images/main_bg.jpg);
}

/*-Body3-*/

#body3 {
    width: 961px;
    height: 925px;
    background-image: url(../files/images/main_bg.jpg);
}

/*-Leftie-*/

#leftie {
    width: 547px;
    float: left;
    padding-left: 80px;
}

    #leftie h1 {
        color: #990000;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #leftie h2 {
        color: #cc9933;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

#textBold {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

/*-Leftie2-*/

#leftie2 {
    width: 550px;
    float: left;
    padding-left: 80px;
}

    #leftie2 h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #990000;
        padding-top: 45px;
        padding-bottom: 25px;
    }

/*-Leftie3-*/

#leftie3 {
    width: 550px;
    float: left;
    padding-left: 80px;
}

    #leftie3 h1 {
        color: #990000;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 40px;
    }

    #leftie3 h2 {
        color: #cc9933;
        font-size: 15px;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #leftie3 h3 {
        color: #cc9933;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }


#textBold2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
    padding-top: 20px;
}

#leftie3 ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*-VerticalMenu-*/

#verticalMenu {
    width: 187px;
    float: left;
}

    #verticalMenu ul {
        position: relative;
        padding-top: 55px;
    }

        #verticalMenu ul li {
            list-style-type: none;
            border-top: white solid 1px;
            padding-left: 15px;
        }

            #verticalMenu ul li a {
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 13px;
            }

                #verticalMenu ul li a:hover {
                    color: orange;
                }



/*-VerticalMenu2-*/

#verticalMenu2 {
    width: 180px;
    float: left;
}

    #verticalMenu2 ul {
        position: relative;
        padding-top: 55px;
    }

        #verticalMenu2 ul li {
            list-style-type: none;
            padding-left: 15px;
            padding-top: 5px;
            color: orange;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 13px;
        }

            #verticalMenu2 ul li a {
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 13px;
            }

                #verticalMenu2 ul li a:hover {
                    color: orange;
                }

/*-VerticalMenu3-*/

#verticalMenu3 {
    width: 187px;
    float: left;
}

    #verticalMenu3 ul {
        position: relative;
        padding-top: 55px;
    }

        #verticalMenu3 ul li {
            list-style-type: none;
            border-top: white solid 1px;
            padding-left: 15px;
            color: orange;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 13px;
        }

            #verticalMenu3 ul li a {
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 13px;
            }

                #verticalMenu3 ul li a:hover {
                    color: red;
                }


/*-Right Side Pictures-*/

#rightie {
    width: 111px;
    float: left;
    padding-left: 35px;
}

#pic1 {
    float: left;
    width: 77px;
    height: 77px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#pic2 {
    float: left;
    width: 77px;
    height: 77px;
    padding-bottom: 8px;
}

#pic3 {
    float: left;
    width: 77px;
    height: 77px;
    padding-bottom: 8px;
}

#pic4 {
    float: left;
    width: 77px;
    height: 77px;
}

/*-bottom-*/

#bottom {
    width: 961px;
    height: 72px;
    background-image: url(../files/images/bund.jpg);
}
