<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="Services.ProductService">
        <endpoint address="http://localhost:8009/ProductService"
                  binding="wsDualHttpBinding"
                  contract="Contracts.IProductService"
                  />
      </service>       
    </services>
  </system.serviceModel>
  
</configuration>

